* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: hsl(0, 100%, 100%);
  width: fit-content;
  padding: 20px;
  display: grid;
  gap: 20px;
  border-radius: 10px;
  border-bottom-right-radius: 90px;
}

#dob {
  display: flex;
  gap: 12px;
}

/* .day,
.month,
.year {
  height: 30px;
  width: 80px;
  border: 1px solid hsl(0, 0%, 86%);
} */

.midsection {
  display: flex;
  align-items: center;
  justify-content: center;
}
hr {
  height: 1px;
  width: 100%;
}
#buttonimg {
  background-color: black;
  border-radius: 50%;
}

.input {
  font-size: 32px;
  border: 2px solid hsl(259, 100%, 65%);
  border-radius: 10px;
  padding: 20px 30px;
  width: 200px;
  font-weight: bold;
}

#days,
#months,
#years {
  color: hsl(259, 100%, 65%);
  font-weight: bold;
  font-style: italic;
}

.age {
  text-transform: uppercase;
}
